In [ ]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Peter', 'Bombei', 'Bear', 'Alice', 'Stephan'], 
        'last_name': ['Stevenson', 'Alloo', 'Grills', 'Antony', 'Fish']}

raw_data_2 = {
        'test_id': ['51', '15', '15', '61', '16'],
        'first_name': ['Billy', 'John', 'Will', 'Kitty', 'Britney'], 
        'last_name': ['Bonder', 'Smith', 'Smith', 'Bilu', 'Silk']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

In [ ]:
import pandas as pd

df_1 = pd.DataFrame(raw_data_1, columns=["subject_id", "first_name", "last_name"])
df_2 = pd.DataFrame(raw_data_2, columns = ["test_id", "first_name", "last_name"])
df_3 = pd.DataFrame(raw_data_3, columns=['subject_id','test_id'])

df_2["test_id"] = df_2["test_id"].astype(int)

In [ ]:
_lst = [df_1, df_2]
df_concat = pd.concat(_lst) #, ignore_index=True

df_concat = df_concat.reset_index(drop=True)
df_concat

  subject_id first_name  last_name
0          1      Peter  Stevenson
1          2     Bombei      Alloo
2          3       Bear     Grills
3          4      Alice     Antony
4          5    Stephan       Fish
5         51      Billy     Bonder
6         15       John      Smith
7         15       Will      Smith
8         61      Kitty       Bilu
9         16    Britney       Silk

In [ ]:
df_joint = pd.merge(df_3, df_2, left_on="test_id", right_on="test_id")
df_final = pd.merge(df_joint, df_1, left_on="subject_id", right_on="subject_id")

# Practice

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'

df = pd.read_csv(url)
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [ ]:
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

In [ ]:
df_null = df[df["continent"].isnull()]
df_null.sum()

country                         Antigua & BarbudaBahamasBarbadosBelizeCanadaCo...
beer_servings                                                                3345
spirit_servings                                                              3812
wine_servings                                                                 564
total_litres_of_pure_alcohol                                                137.9
continent                                                                       0
dtype: object

In [ ]:
df = df[df["continent"].notnull()].reset_index(drop=True)
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
165,Venezuela,333,100,3,7.7,SA
166,Vietnam,111,2,1,2.0,AS
167,Yemen,6,0,0,0.1,AS
168,Zambia,32,19,4,2.5,AF
169,Zimbabwe,64,18,4,4.7,AF

In [ ]:
print(round(df_null.sum()["beer_servings"] / df.sum()["beer_servings"],3)*100)
print(round(df_null.sum()["spirit_servings"] / df.sum()["spirit_servings"],3)*100)
print(round(df_null.sum()["wine_servings"] / df.sum()["wine_servings"],3)*100)
print(round(df_null.sum()["total_litres_of_pure_alcohol"] / df.sum()["total_litres_of_pure_alcohol"],3)*100)

19.5
32.300000000000004
6.3
17.9

In [ ]:
df[["beer_servings", "continent"]].groupby("continent").sum()11

           beer_servings
continent
AF                  3258
AS                  1630
EU                  8720
OC                  1435
SA                  2101

In [ ]:
df.value_counts()

NameError: name 'df' is not defined

In [ ]:
df["beer_servings"].sum()

17144

In [ ]:
for group_name, df_group in df.groupby("continent"):
    total_beer_servings = df_group["beer_servings"].sum()
    if total_beer_servings > 2000:
        print(f"THIIIIIIIIIIIIIIIIIIIIS, {total_beer_servings}")
    else:
        print(f"else, {total_beer_servings}")

THIIIIIIIIIIIIIIIIIIIIS, 3258
else, 1630
THIIIIIIIIIIIIIIIIIIIIS, 8720
else, 1435
THIIIIIIIIIIIIIIIIIIIIS, 2101

# Occupation

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

df = pd.read_csv(url, sep="|", index_col="user_id")
df

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [ ]:
df.isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 69.1+ KB

In [ ]:
df["occupation"].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [ ]:
def gender_to_numberic(x):
    if x == "M":
        return 1
    else:
        return 0    

df["gender_numeric"]  =df["gender"].apply(gender_to_numberic)
df.head()

         age gender  occupation zip_code  gender_numeric
user_id
1         24      M  technician    85711               1
2         53      F       other    94043               0
3         23      M      writer    32067               1
4         24      M  technician    43537               1
5         33      F       other    15213               0

In [ ]:
df.groupby("occupation")["gender_numeric"].sum()

occupation
administrator     43
artist            15
doctor             7
educator          69
engineer          65
entertainment     16
executive         29
healthcare         5
homemaker          1
lawyer            10
librarian         22
marketing         16
none               5
other             69
programmer        60
retired           13
salesman           9
scientist         28
student          136
technician        26
writer            26
Name: gender_numeric, dtype: int64

In [ ]:
male_to_female_ration = round(df.groupby("occupation")["gender_numeric"].sum() / df["occupation"].value_counts()*100,1)
male_to_female_ration.sort_values(ascending=False)

doctor           100.0
engineer          97.0
technician        96.3
retired           92.9
programmer        90.9
executive         90.6
scientist         90.3
entertainment     88.9
lawyer            83.3
salesman          75.0
educator          72.6
student           69.4
other             65.7
marketing         61.5
writer            57.8
none              55.6
administrator     54.4
artist            53.6
librarian         43.1
healthcare        31.2
homemaker         14.3
dtype: float64

In [ ]:
df[df["occupation"] == "doctor"]

         age gender occupation zip_code  gender_numeric
user_id
138       46      M     doctor    53211               1
251       28      M     doctor    85032               1
299       29      M     doctor    63108               1
427       51      M     doctor    85258               1
841       45      M     doctor    47401               1
845       64      M     doctor    97405               1
935       42      M     doctor    66221               1

In [ ]:
df.groupby("occupation")["age"].agg(["min","max"])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

In [ ]:
df.groupby(["occupation", "gender"])["age"].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=7d3ce7c8-a514-49e4-9ba4-a5899ac52ea5' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>