In [ ]:
import pandas as pd
import numpy as np
from numpy import median


s1 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

print(s1, s2, s3)

0     3
1     2
2     1
3     3
4     1
     ..
95    2
96    2
97    3
98    2
99    3
Length: 100, dtype: int64 0     2
1     2
2     1
3     2
4     2
     ..
95    1
96    1
97    3
98    3
99    3
Length: 100, dtype: int64 0     15227
1     23415
2     24034
3     20302
4     20427
      ...
95    24773
96    22464
97    26846
98    17028
99    25000
Length: 100, dtype: int64

Make a dateframe out of these 3 series. Use google if you are unsure.

Column names are `bedrooms`, `hallways`, `price`

In [ ]:
df= pd.DataFrame({"bedrooms":s1,"hallways":s2,"price":s3})
df

# data = zip(s1,s2,s3)
# columns = ["bedrooms", "hallways", "price"]
# pd.DataFrame(data=data, columns=columns)

    bedrooms  hallways  price
0          3         2  15227
1          2         2  23415
2          1         1  24034
3          3         2  20302
4          1         2  20427
..       ...       ...    ...
95         2         1  24773
96         2         1  22464
97         3         3  26846
98         2         3  17028
99         3         3  25000

[100 rows x 3 columns]

You wish to rent a house and want to see which ones are worth it.

Use `.apply()` (up to you how you choose to do it) to create new column `is_it_wroth_it`, with values `True` and `False`, and it is True if number of bedrooms is more than 3, and price is less than 15,000. Otherwise it's False.

In [ ]:
def nice_house(x):
    if x["bedrooms"] >= 3 and x["price"] < 15000:
        x["is_it_wroth_it"] = True
    else:
        x["is_it_wroth_it"] = False
    # x["is_it_wroth_it"] = x["is_it_wroth_it"].astype(bool)        
    return x

df = df.apply(nice_house, axis=1)
df

    bedrooms  hallways  price  is_it_wroth_it
0          3         2  15227           False
1          2         2  23415           False
2          1         1  24034           False
3          3         2  20302           False
4          1         2  20427           False
..       ...       ...    ...             ...
95         2         1  24773           False
96         2         1  22464           False
97         3         3  26846           False
98         2         3  17028           False
99         3         3  25000           False

[100 rows x 4 columns]

Select common items in `ser1` and `ser2`

In [ ]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

laki = ser1[ser1.isin(ser2)].tolist()
print(laki)

[4, 5]

Select items present in `ser1` but not `ser2`

In [ ]:
items_present = ser1[~ser1.isin(ser2)].tolist()
print(items_present)

[1, 2, 3]

How many times does every item show in the dataset?

In [ ]:
_lst = ['a', 'd', 'd', 'b', 'c', 'b', 'f', 'g', 'f', 'd', 'h', 'h', 'h', 'f', 'c', 'a', 'f', 'a', 'a', 'h', 'd', 'a', 'a', 'e', 'b', 'h', 'b', 'e', 'f', 'f']
ser = pd.Series(_lst)
laki = ser.value_counts()
print(laki)

a    6
f    6
h    5
d    4
b    4
c    2
e    2
g    1
dtype: int64

Keep two most frequent values, replace everything else as `0`.

In [ ]:
ser = pd.Series(np.random.randint(1, 5, [30]))
n = 2
# print(ser.value_counts()[:n].tolist())
# rest_of_group = ser[~ser.isin(ser.value_counts()[:n])] = '0'
# print(rest_of_group)

most_frequent_two_numbers = ser.value_counts()[:2].index
print(f"most freq numbers are: {most_frequent_two_numbers.to_list()}")
ser[~ser.isin(most_frequent_two_numbers)] = 0
ser

most freq numbers are: [3, 2]

0     3
1     3
2     3
3     0
4     0
5     0
6     2
7     3
8     0
9     2
10    0
11    2
12    3
13    2
14    0
15    3
16    2
17    2
18    3
19    2
20    2
21    0
22    3
23    2
24    0
25    0
26    3
27    3
28    0
29    3
dtype: int64

Combine these two series into two columns

In [ ]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

df3= pd.DataFrame({"ser1":ser1,"ser2":ser2})
df3

   ser1 ser2
0     0    a
1     1    b
2     2    c
3     3    d
4     4    e

Extend combine these two series into one column, extending `ser1` by `ser2`

In [ ]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

pd.concat([ser1, ser2], axis=0)
# ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
dtype: object

Here are predictions from our machine learning model, alongside the values it was aiming to predict. What is the mean negative squared error of our model's predictions?

In [ ]:
real_values = pd.Series(range(10))
predictions = pd.Series(range(10)) + np.random.random(10)

df = pd.DataFrame({"pred": predictions, "real":real_values})
df["error"] = - np.square(df["real"] - df["pred"])
df["error"].mean()

-0.513137766419213

Capitalize first letter of every word

In [ ]:
ser = pd.Series(['hey', 'how are', 'you', 'doing mate']).str.title() # upper, capitalize
print(ser)

0           Hey
1       How Are
2           You
3    Doing Mate
dtype: object

Create new column that is will tell us how many letters there are in the word string form the following series.

In [ ]:
ser = pd.Series(['hey', 'how are', 'you', 'doing mate'])
df5= pd.DataFrame({"ser":ser})
df5["letter"] = df5["ser"].str.replace(" ","").str.len()
df5["no_of_words"] = df5["ser"].str.split().str.len()

df5

          ser  letter  no_of_words
0         hey       3            1
1     how are       6            2
2         you       3            1
3  doing mate       9            2

Conevrt the following column into a correct data type

In [ ]:
ser = pd.Series(['Jan-2010', 'Feb-2011', 'Mar-2012'])

df6= pd.DataFrame({"ser":ser})
df6["ser"] = pd.to_datetime(df6["ser"], format="%b-%Y") 2010-01
# df6["ser"] = df6["ser"].dt.strftime('%b %Y')
df6

         ser
0 2010-01-01
1 2011-02-01
2 2012-03-01

Create `.apply()` function to filter out only words that contain 3 wovels

In [ ]:
ser = pd.Series(["hhhhhhhhhhh", 'Apple', 'Orange', 'Plan', 'Python', 'Money'])


def filter_wovels(word):
    vowels = ["a", "e", "i", "o", "u", "y"]
    word = word.lower()
    for vowel in vowels:
       if vowel in word:
        #    print(word, vowel)
           return word

ser.apply(filter_wovels).dropna()

1     apple
2    orange
3      plan
4    python
5     money
dtype: object

Can you try to get out email of the following sentences? Nothing manual. Automatic

In [ ]:
text = "shopping at tesco@com"
words = text.split(" ")

for word in words:
    if "@" in word:
        print(word)

tesco@com

In [ ]:
emails = pd.Series(['shopping at tesco@com', ' hello there is hello@you.com text here', 'Laz@a.co', 'dan@anton.com'])

def email_extract(text):
    words = text.split(" ")
    for word in words:
        if "@" in word:
            return word

emails.apply(email_extract).dropna()

0        tesco@com
1    hello@you.com
2         Laz@a.co
3    dan@anton.com
dtype: object

Replace space in the following sentence with the most frequent character.

In [ ]:
text = 'Hello HOw are you doing irhgt now and hi'

most_frequent = pd.Series(list(text)).value_counts()[:2].index
most_frequent_character = most_frequent[0] if not " " else most_frequent[1]

text.replace(" ", most_frequent_character)

'HellooHOwoareoyouodoingoirhgtonowoandohi'

Import following url to dataframe, only import `Date`, `High`, `Low` columns. Do not load it and then drop. Imagine you are importing dataset with 100M rows, your pc does not have memory to load unnecessary columns.

In [ ]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv"

df7 = pd.read_csv(url,usecols = ["Date","High","Low"])
df7.info()
df7.shape
print("duplicates sum", df7.duplicated().sum())
print("na sum", df7.isnull().sum())
df7.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8465 entries, 0 to 8464
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    8465 non-null   object
 1   High    8465 non-null   float64
 2   Low     8465 non-null   float64
dtypes: float64(2), object(1)
memory usage: 198.5+ KB
duplicates sum 0
na sum Date    0
High    0
Low     0
dtype: int64

              High          Low
count  8465.000000  8465.000000
mean     99.848683    97.226790
std     143.155674   140.548326
min      11.120000    11.000000
25%      26.000000    25.120000
50%      41.500000    40.000000
75%      81.000000    78.740000
max     705.070000   699.570000

Using the previous daset, what is:
* number of columns and rows
* datatypes
* are the duplicates
* are there missing values
* show basic statistical information about every column

Load following df and clean columns

using the cleaned dataframe from the previous step, rename ONLY `rev_per_mile` to `revolutions_per_mile`

Fill missing values with mean of the columns. If the column is categorical (string), fill the missing value in it with the most frequent value in that column.

In [ ]:
url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"

class Cars():

  def __init__(self,url):
        self.load_df(url)
        self.clean_columns()

  
  def nan_in_dataframe(self):    
        #return self.df.isna().sum()
        return self.df

  def load_df(self, url):
        self.df = pd.read_csv(url)
        
  def clean_columns(self):
        self.df.columns = self.df.columns.str.lower()
        self.df.columns = self.df.columns.str.replace(".","_")
        self.df.rename(columns={'rev_per_mile':'revolutions_per_mile'}, inplace=True)
        
        cols = ["Min.Price", "Max.Price", "Price"]
        col_mean = df[cols].mean().round(3)
        df[cols].fillna(col_mean)

      #   self.df.iloc[[18,71],:27] = "USA"
      #   self.df.iloc[[46,57,88],:27] = "non-USA"
        self.df["manufacturer"] = self.df['make'].str.split(' ').str[0]
        self.df["model"] = self.df['make'].str.split(' ').str[1]
        self.df.dropna(subset=["manufacturer","model","type","airbags","drivetrain","cylinders","man_trans_avail"],inplace = True)
        self.df['min_price'].fillna((self.df['min_price'].mean().round(1)), inplace=True)
        self.df['price'].fillna((self.df['price'].mean().round(1)), inplace=True)
        self.df['max_price'].fillna((self.df['price'].mean().round(1)), inplace=True)
        self.df['mpg_city'].fillna((self.df['mpg_city'].mean().round(1)), inplace=True)
        self.df['mpg_highway'].fillna((self.df['mpg_highway'].mean().round(1)), inplace=True)
        self.df['horsepower'].fillna((self.df['horsepower'].mean().round(1)), inplace=True)
        self.df['rpm'].fillna((self.df['rpm'].mean().round(1)), inplace=True)
        self.df['fuel_tank_capacity'].fillna((self.df['fuel_tank_capacity'].mean().round(1)), inplace=True)
        self.df.reset_index(drop=True ,inplace=True)

   
               



test= Cars(url)
test.nan_in_dataframe()
test.df

/shared-libs/python3.7/py-core/lib/python3.7/site-packages/ipykernel_launcher.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

,manufacturer,model,type,min_price,price,max_price,mpg_city,mpg_highway,airbags,drivetrain,...,passengers,length,wheelbase,width,turn_circle,rear_seat_room,luggage_room,weight,origin,make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Buick,LeSabre,Large,19.9,20.8,19.8,19.0,28.0,Driver only,Front,...,6.0,200.0,111.0,74.0,42.0,30.5,17.0,3470.0,USA,Buick LeSabre
4,Buick,Roadmaster,Large,22.6,23.7,24.9,16.0,25.0,Driver only,Rear,...,6.0,216.0,116.0,78.0,45.0,30.5,21.0,4105.0,USA,Buick Roadmaster
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Volkswagen,Fox,Small,8.7,9.1,9.5,25.0,33.0,None,Front,...,4.0,163.0,93.0,63.0,34.0,26.0,10.0,2240.0,non-USA,Volkswagen Fox
65,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
66,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
67,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
68,Volvo,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

Change the following numbers that represent percentage into strings with %.

In [ ]:
"0.8".ljust(4, "0")

'0.80'

In [ ]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
df["random"] = df["random"].round(3)*100
df["random"] = df["random"].astype(str).str.ljust(5, "0")+" %"
df

    random
0  42.50 %
1  52.00 %
2  15.20 %
3  31.00 %

Create new col containing the `minimum` value divided by  `maximum` value of each row?

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
df["min_and_max"]= (df.min(axis=1)/df.max(axis=1)).round(2)
df

    0   1   2   3   4   5   6   7   8   9  min_and_max
0  71  37  13  67  82  22   3  22  92  88         0.03
1  95  71  74  42  32  86  39  17  87  62         0.18
2  76  56  32  57  36  36  48  96  49   6         0.06
3   2  70   2  22  37  35  67  96  69  36         0.02
4  15  85  79  49  63  52  81  71  93   6         0.06
5  93  13   3  88  79  98  73  11  76  64         0.03
6  51   9  54  86  16  19  85  64  41   4         0.05
7  64  90  61  86  66  31  35  91  79   6         0.07

Create nw col containing the median value of the row

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
df["median"] = df.median(axis=1)
print(df.iloc[0].drop("median").median())

df

77.5

    0   1   2   3   4   5   6   7   8   9  median
0  59  99  11  84  71  99  89  62  37  98    77.5
1  33  83  33  48  93  95  44  89  75  27    61.5
2  60  87   2   9   9  19   2  47  16  29    17.5
3  45  73  90  93  25  88  49  98  79  26    76.0
4  38  49  78  79  40  61  56  90   4  20    52.5
5   6  21  86  56  12  45   8  70  92  14    33.0
6  50  28  44  60  34  40   7  52  26  62    42.0
7  16  94  84  90  12  88  10  69  35  10    52.0

Group by `apple` and then display all entries in that gorup

In [ ]:
df = pd.DataFrame({'product': ['apple', 'banana', 'orange'] * 3,
                   'price': np.random.rand(9),
                   'quantity': np.random.randint(0, 15, 9)})

grouped = df.groupby(df["product"])

for i, group in grouped:
    print(i, group)

grouped.get_group("apple")

In [ ]:
df.groupby(df["product"] == "apple").agg(sum)

            price  quantity
product
False    2.732819        42
True     0.505869        15

What is the mean `price`and `qunatity` of evry `product`?

In [ ]:
df = pd.DataFrame({'product': ['apple', 'banana', 'orange'] * 3,
                   'price': np.random.rand(9),
                   'quantity': np.random.randint(0, 15, 9)})
                   
df.groupby("product")["price", "quantity"].agg(["min", "max"])

/shared-libs/python3.7/py-core/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """

            price           quantity
              min       max      min max
product
apple    0.358136  0.537912        3  14
banana   0.143140  0.884208        4   9
orange   0.419199  0.690227       10  13

Join these dataframes by 2 columns `fruit` > `froot`, `weight` > `kilo`, so they have only the common rows.

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'froot': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

result = pd.merge(df1,df2,left_on=['fruit','weight'],right_on=['froot','kilo'])

result

    fruit weight  price_x   froot  kilo  price_y
0   apple   high       10   apple  high       14
1   apple   high        5   apple  high       14
2   apple   high        7   apple  high       14
3  orange    low       14  orange   low        4
4  orange    low       14  orange   low        4
5  orange    low       12  orange   low        4

Remove rows from `df1` that are present in `df2`

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'orange', 'banana'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.arange(9)})

df2 = pd.DataFrame({'fruit': ['apple', 'orange', 'pine'] * 2,
                    'weight': ['high', 'medium'] * 3,
                    'price': np.arange(6)})

df1= df1[~df1.isin(df2)].dropna()

df1

    fruit  weight  price
6   apple    high    6.0
7  orange  medium    7.0
8  banana     low    8.0

How many times is every value present in the dataframe?

In [ ]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
df.value_counts()

   a  b  c  d
0  3  6  6  2
1  2  4  4  3
2  4  8  9  8
3  6  6  9  6
4  2  6  6  1

In [ ]:
df.value_counts()

a  b  c  d
2  4  4  3    1
   6  6  1    1
3  6  6  2    1
4  8  9  8    1
6  6  9  6    1
dtype: int64

Split the string column into 3 columns.

After that, make first colum a header.

In [ ]:
df = pd.DataFrame(["STD, City    State",
                    "33, Kolkata    West Bengal",
                    "44, Chennai    Tamil Nadu",
                    "40, Hyderabad    Telengana",
                    "80, Bangalore    Karnataka"], columns=['row'])
result = pd.DataFrame(df.row.str.split(' ',2).tolist(),columns=['STD','City','State'])
result.drop(index=0,inplace=True)
result

   STD       City           State
1  33,    Kolkata     West Bengal
2  44,    Chennai      Tamil Nadu
3  40,  Hyderabad       Telengana
4  80,  Bangalore       Karnataka

In [ ]:
df = pd.DataFrame(["STD, City    State",
                    "33, Kolkata    West Bengal",
                    "44, Chennai    Tamil Nadu",
                    "40, Hyderabad    Telengana",
                    "80, Bangalore    Karnataka"], columns=['row'])

df

                          row
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=7d3ce7c8-a514-49e4-9ba4-a5899ac52ea5' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>