Hints are at the very bottom. If you don't remember something, first, feel free to refernce the pandas lesson / try to look online, and if it's taking too much time/you are struggling, see hints.

---

1. Url is link to the data-set, load it as csv. 

Copy and paste it into your browser first and have a look at it. Notice that the entries are separated with `|` and not `,` as usual, so you will need to use argument `sep="|"` when you are loading the data.

Note `sep=","` is default!

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",sep="|",index_col="user_id")
df

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

---

2. Have a look at first 25 entries. 

Notice that the first column is `user_id` - this is an identifier column that comes in the dataset itself, so when you load it, make sure it is loaded as index in the step 1.

In [ ]:
df.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

---
3. Have a look at last 15 entries

In [ ]:
df.tail(15)

         age gender     occupation zip_code
user_id
929       44      M      scientist    53711
930       28      F      scientist    07310
931       60      M       educator    33556
932       58      M       educator    06437
933       28      M        student    48105
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

---
4. Have a look at the column names, are they in a usable format? If not, fix them.

In [ ]:
df.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

---
5. What are the data-types of every column? Are they correct

In [ ]:
df.info()
df["zip_code"] = df["zip_code"].astype(int)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

ValueError: invalid literal for int() with base 10: 'T8H1N'

---
6. Are there any missing values? If yes, sort it out

In [ ]:
df.isnull().sum()

age           0
gender        0
occupation    0
zip_code      0
dtype: int64

---
6.5 Are there any duplicate values? Does it make sense to drop them if there are?

In [ ]:
len(df)

943

In [ ]:
new_df = df.drop_duplicates()
new_df

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[936 rows x 4 columns]

---
7. Select occupations column

In [ ]:
df['occupation'].head()

user_id
1    technician
2         other
3        writer
4    technician
5         other
Name: occupation, dtype: object

---
8. How many different occupations are there

In [ ]:
df['occupation'].nunique()

21

---
9. What are the most and least frequent occupations

In [ ]:
df['occupation'].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

---
10. What is the min, max, and average age?

In [ ]:
df["age"].describe()

count    943.000000
mean      34.051962
std       12.192740
min        7.000000
25%       25.000000
50%       31.000000
75%       43.000000
max       73.000000
Name: age, dtype: float64

In [ ]:
laki = df['age'].max()
daki = df['age'].min()
caki = df['age'].mean()

laki,daki,caki

(73, 7, 34.05196182396607)

---
11. Filter data-set such that it shows only entries with the most common occupation

In [ ]:
df_filtered = df[df["occupation"] == "student"]
df_filtered.head()

         age gender occupation zip_code
user_id
9         29      M    student    01002
30         7      M    student    55436
32        28      F    student    78741
33        23      M    student    27510
36        19      F    student    93117

---
12. How many times every age in the filtered dataframe occurs.

In [ ]:
df_filtered["age"].value_counts()

20    25
22    21
19    21
18    13
21    13
17    13
25    11
23    11
24     8
28     8
26     7
27     7
15     5
29     5
16     4
14     3
13     3
30     3
32     3
31     2
34     2
35     2
38     1
40     1
7      1
36     1
10     1
42     1
Name: age, dtype: int64

---
13. What is the gender count in the filtered dataframe

In [ ]:
df['gender'].value_counts()

M    670
F    273
Name: gender, dtype: int64

---
14. Create new column using `.apply()`, as follows:

rows with:
`age < 30 and genger == M`, the value for that new column will be `"male_beginer_experience"`

`age < 30 and genger == F`, `"female_beginer_experience"`

`age > 30 and gender == M`, `"male_advanced_experience"`

`age > 30 and gender == F`, `"female_advanced_experience"`

In [ ]:
def my_function(row):
    if row["age"] < 30:
        if row["gender"] == "M":
            return "male_beginer_experience"
        else:
            return "female_beginer_experience"
    else:
        if row["gender"] == "M":
            return "male_advanced_experience"
        else:
            return "female_advanced_experience"

In [ ]:
def my_function(row):
    if (row["age"] < 30) and (row["gender"] == "M"):
        return "male_beginer_experience"
    elif (row["age"] < 30) and (row["gender"] == "F"):
        return "female_beginer_experience"
    elif (row["age"] > 30) and (row["gender"] == "M"):
        return "male_advanced_experience"
    elif (row["age"] > 30) and (row["gender"] == "F"):
        return "female_advanced_experience"    
    else:
        "NA"

df["occupation_new"] =  df.apply(my_function, axis=1)
df.head()

         age gender  occupation zip_code              occupation_new
user_id
1         24      M  technician    85711     male_beginer_experience
2         53      F       other    94043  female_advanced_experience
3         23      M      writer    32067     male_beginer_experience
4         24      M  technician    43537     male_beginer_experience
5         33      F       other    15213  female_advanced_experience

---
15. Create a new column using .apply() such that:

rows that have `occupation` == "teacher" or "student" or "librarian" or "educator", the value in that new column will be "academia"

# ------------HINTS------------

In [ ]:
1. read_csv , sep='|', index_col='user_id'
2. head
3. tail
4. .columns
5. .info / .dtypes
6. .isnull .sum
6.5 df[df.duplicated()] - filters out duplicate rows
7. df["selected_colum_name"]
8. .nunique()
9. .value_counts - list of counts, and now just select first and last
10. .describe or max, min, mean
11. df[df["filtered_column"] == "condition"]
12. .value_counts
13. .value_counts
14. .apply(my_function) - my_function(row) - define the function such that it suits the conditions eg. row["age"] < 30 .... : return "value"
15. .apply(my_functino2) - my_funciton2(row) - define the functions such that it checks the condition and returns appropriate value

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=7d3ce7c8-a514-49e4-9ba4-a5899ac52ea5' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>