Here is a dataset about pets, and their visits to an animal hospital. It also includes data like age, priority and owner ID.

1. Load the data into the DataFrame

In [ ]:
data = {'Animal.': ['hamster', 'hamster', 'fish', 'kitty', 'ferret', 'cat', 'cobra', 'guniea pig', 'hamster'],
        'AGE': [0.5, 1.3, 3, "NULL", 2, 5, 1.2, 2, "N/A"],
        'Visits': [0, 1, 0, 4, 2, 1, 0, 2, 0],
        'Prio rity': ['yes', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no'],
        'owner': [0, 0, 1, 3, 4, 5, 7, 8, 6]}

In [ ]:
import pandas as pd

df = pd.DataFrame.from_dict(data,orient='index')
df = df.transpose()
df

      Animal.   AGE Visits Prio rity owner
0     hamster   0.5      0       yes     0
1     hamster   1.3      1       yes     0
2        fish     3      0       yes     1
3       kitty  NULL      4        no     3
4      ferret     2      2        no     4
5         cat     5      1       yes     5
6       cobra   1.2      0        no     7
7  guniea pig     2      2        no     8
8     hamster   N/A      0      None     6

---
2. Are the column names named well? If not, fix it automatically (do not do `df.columns = ["animal", "age"...]`, use python functions to clean those strings)

In [ ]:
for col in df:
    df.rename(columns={col:col.lower().replace(".","").replace("prio rity","priority")},inplace=True)
df.head(1)

    animal  age visits priority owner
0  hamster  0.5      0      yes     0

---

3. check column types, are they alright? If not fix them.

Note: if there are any missing values change them to `np.nan`. How to change null values to a format such that pandas can work with it? Google!

In [ ]:
df.replace("NULL", np.nan, inplace=True)
df.replace("N/A", np.nan, inplace=True)
df.replace("None", np.nan, inplace=True)

In [ ]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    9 non-null      object
 1   age       7 non-null      float64
 2   visits    9 non-null      int64
 3   priority  8 non-null      object
 4   owner     9 non-null      int64
dtypes: float64(1), int64(2), object(2)
memory usage: 488.0+ bytes

       animal  age  visits priority  owner
0     hamster  0.5       0      yes      0
1     hamster  1.3       1      yes      0
2        fish  3.0       0      yes      1
3       kitty  NaN       4       no      3
4      ferret  2.0       2       no      4
5         cat  5.0       1      yes      5
6       cobra  1.2       0       no      7
7  guniea pig  2.0       2       no      8
8     hamster  NaN       0     None      6

---
4. If you did the previous step succesfully, select rows which have missing age.

In [ ]:
df[df.isnull().any(axis=1)] 
#df[df["age"].isnull()]

    animal  age  visits priority  owner
3    kitty  NaN       4       no      3
8  hamster  NaN       0     None      6

---
4.5 Change `yes/no` values in `priority` column to `True/False` so that we can work with it properly

In [ ]:
df['priority'] = df['priority'].replace("no", False).replace("yes",True)
df["priority"] = df["priority"].astype(bool)
df

       animal  age  visits priority  owner
0     hamster  0.5       0     True      0
1     hamster  1.3       1     True      0
2        fish  3.0       0     True      1
3       kitty  NaN       4    False      3
4      ferret  2.0       2    False      4
5         cat  5.0       1     True      5
6       cobra  1.2       0    False      7
7  guniea pig  2.0       2    False      8
8     hamster  NaN       0     None      6

In [ ]:
df[df["priority"] == True]

    animal  age  visits  priority  owner
0  hamster  0.5       0      True      0
1  hamster  1.3       1      True      0
2     fish  3.0       0      True      1
5      cat  5.0       1      True      5

---

5. Animal hospital wants to see all animals with more than 1 visits.

In [ ]:
df[df["visits"] > 1]

       animal  age  visits  priority  owner
3       kitty  NaN       4     False      3
4      ferret  2.0       2     False      4
7  guniea pig  2.0       2     False      8

---
6. Animal hospital wants to see all hamsters who are more than 1 years old.

In [ ]:
df[(df["age"] > 1) & (df["animal"] == "hamster")]

    animal  age  visits  priority  owner
1  hamster  1.3       1      True      0

---
7. how many animal visits have there been in total?

In [ ]:
df["visits"].sum()

10

---
8. How many animals of each species are registered in the hospital.

In [ ]:
df["animal"].value_counts()

hamster       3
ferret        1
fish          1
guniea pig    1
kitty         1
cobra         1
cat           1
Name: animal, dtype: int64

---
8.5 How many animal visits have there been per animal?

In [ ]:
df[["visits","animal"]].groupby("animal").sum().sort_values(by="visits", ascending=False)

            visits
animal
kitty            4
ferret           2
guniea pig       2
cat              1
hamster          1
cobra            0
fish             0

--- 
9. What is the average age of every animal?

In [ ]:
df[["age","animal"]].groupby("animal").mean().sort_values(by="age",ascending=False)

            age
animal
cat         5.0
fish        3.0
ferret      2.0
guniea pig  2.0
cobra       1.0
hamster     0.5
kitty       0.0

---
9.5. What is the min and max age of every registered animal?

In [ ]:
df.groupby("animal")["age"].agg(["min","max"])

            min  max
animal
cat           5    5
cobra         1    1
ferret        2    2
fish          3    3
guniea pig    2    2
hamster       0    1
kitty         0    0

---
Hospital vishes to add new registered animals to the data.


10. Create a function `register_new_animal(df_original, animal, age, visits, priority, owner)` such that when called with these arguments, a new row with `animal, age, visits, priority, owner` is appended to `df_original`. `df_original` is then returned.

In [ ]:
df.tail()

       animal  age  visits  priority  owner
4      ferret  2.0       2     False      4
5         cat  5.0       1      True      5
6       cobra  1.2       0     False      7
7  guniea pig  2.0       2     False      8
8     hamster  NaN       0     False      6

In [ ]:
def register_new_animal(df_original, animal, age, visits, priority, owner):
    """ append a new row with animal, age, visits, priority, owner... and append it to df_original
        code below here """
    if priority == "no" or "False":
        priority = False
    elif priority == "yes" or "True":
        priority = True
    else:
        priority = np.nan
        
    print(animal, age, visits, priority, owner)
    _data = [[animal, age, visits, priority, owner]]
    _data = pd.DataFrame(_data, columns=df_original.columns)

    df_original = df_original.append(_data).reset_index(drop=True)

    return df_original

coki = register_new_animal(df, "fish", 0.4, 0, "no", 1)
coki.tail()

fish 0.4 0 False 1

       animal  age  visits  priority  owner
5         cat  5.0       1      True      5
6       cobra  1.2       0     False      7
7  guniea pig  2.0       2     False      8
8     hamster  NaN       0     False      6
9        fish  0.4       0     False      1

---
11. Hospital wants to see animals by age, oldest being first.

In [ ]:

df[["age","animal"]].groupby("animal").sum().sort_values(by="age",ascending=False)

            age
animal
cat         5.0
fish        3.0
ferret      2.0
guniea pig  2.0
hamster     1.8
cobra       1.2
kitty       0.0

---
12. Hospital wants to see animals by number of visits - most visited, and if there are multiple same animals then they want to see those by age - youngest first.

In [ ]:
df[["visits","animal","age"]].groupby("animal").sum().sort_values(by="visits",ascending=False)

            visits  age
animal
kitty            4  0.0
ferret           2  2.0
guniea pig       2  2.0
cat              1  5.0
hamster          1  1.0
cobra            0  1.0
fish             0  3.4

---
13.  Change of all occurances of `kitty` in `animal` column to `cat`

In [ ]:
df['animal'] = df['animal'].replace("kitty", "cat")
df

       animal  age  visits  priority  owner
0     hamster  0.5       0      True      0
1     hamster  1.3       1      True      0
2        fish  3.0       0      True      1
3         cat  NaN       4     False      3
4      ferret  2.0       2     False      4
5         cat  5.0       1      True      5
6       cobra  1.2       0     False      7
7  guniea pig  2.0       2     False      8
8     hamster  NaN       0     False      6

---
14. Load the separate data the hospital has on owners, where index of that DataFrame is `index` in the `data`.

In [ ]:
data = {'owner': ['Dan', 'Peter', "Stevenson", "Fox", "Martin", "Joe", "Chris", "Rasto", "Peto", "Cappucino"],
        'registration_time': ["6/1/2020", "6/1/2021", "1/1/2020", "6/1/2020", "6/5/2020", "7/3/2020", "6/10/2020", "1/8/2020", "6/5/2021", "16/9/2020"],
        'index': [0, 1, 3, 4, 5, 6, 7, 8, 9, 10]}

df_owners = pd.DataFrame(data,columns= ["owner","registration_time", "index"])
df_owners.index =  df_owners["index"]
df_owners.drop("index", axis=1, inplace=True)
#del df_owners["index"]
df_owners.head()

           owner registration_time
index
0            Dan          6/1/2020
1          Peter          6/1/2021
3      Stevenson          1/1/2020
4            Fox          6/1/2020
5         Martin          6/5/2020

---
15. Modify the pet dataframe, such that you join all pets with their respective owners and registration date.

In [ ]:
df_final = pd.merge(df, df_owners, left_on="owner", right_on="index", suffixes=('_not_important', ''))
df_final

,animal,age,visits,priority,owner_not_important,owner,registration_time
0,hamster,0.5,0,True,0,Dan,6/1/2020
1,hamster,1.3,1,True,0,Dan,6/1/2020
2,fish,3.0,0,True,1,Peter,6/1/2021
3,cat,NaN,4,False,3,Stevenson,1/1/2020
4,ferret,2.0,2,False,4,Fox,6/1/2020
5,cat,5.0,1,True,5,Martin,6/5/2020
6,cobra,1.2,0,False,7,Chris,6/10/2020
7,guniea pig,2.0,2,False,8,Rasto,1/8/2020
8,hamster,NaN,0,False,6,Joe,7/3/2020

---
16. Change the age of the hamster that belongs to `Joe` to 0.9. (in the `df_final` that you joint together)

In [ ]:
index = df_final[df_final["owner"] == "Joe"].index[0]
df_final.at[index, "age"] = 0.9
df_final

,animal,age,visits,priority,owner_not_important,owner,registration_time
0,hamster,0.5,0,True,0,Dan,6/1/2020
1,hamster,1.3,1,True,0,Dan,6/1/2020
2,fish,3.0,0,True,1,Peter,6/1/2021
3,cat,NaN,4,False,3,Stevenson,1/1/2020
4,ferret,2.0,2,False,4,Fox,6/1/2020
5,cat,5.0,1,True,5,Martin,6/5/2020
6,cobra,1.2,0,False,7,Chris,6/10/2020
7,guniea pig,2.0,2,False,8,Rasto,1/8/2020
8,hamster,0.9,0,False,6,Joe,7/3/2020

---
17. Select all animals owned by `Dan` (in `df_final`, continue using `df_final` for the following tasks)

In [ ]:
df_final.loc[df_final['owner'] == "Dan"]

    animal  age  visits  priority  owner_not_important owner registration_time
0  hamster  0.5       0      True                    0   Dan          6/1/2020
1  hamster  1.3       1      True                    0   Dan          6/1/2020

---
18. Which owners have their pets that have priority?

In [ ]:
df_final[df_final['priority'] == True]

,animal,age,visits,priority,owner_not_important,owner,registration_time
0,hamster,0.5,0,True,0,Dan,6/1/2020
1,hamster,1.3,1,True,0,Dan,6/1/2020
2,fish,3.0,0,True,1,Peter,6/1/2021
5,cat,5.0,1,True,5,Martin,6/5/2020

---
18.5 Which type of a pet has most instances of `priority`? How many

In [ ]:
df_final.groupby("animal").sum().sort_values(by = "priority", ascending=False)

            age  visits  priority  owner_not_important
animal
hamster     2.7       1         2                    6
cat         5.0       5         1                    8
fish        3.0       0         1                    1
cobra       1.2       0         0                    7
ferret      2.0       2         0                    4
guniea pig  2.0       2         0                    8

---
19. Create a new column `potential_risk`, with values `True/False` where the value is `True` if the pet has visited more than 2 times, otherwise it's `False`

In [ ]:
import numpy as np
df_final["potential_risk"] = np.where(df_final["visits"] > 2,True,False)
#df_final["potential_risk"] = df_final.apply(lambda x: True if x["visits"] > 2 else False)
df_final.head()

,animal,age,visits,priority,owner_not_important,owner,registration_time,potential_risk
0,hamster,0.5,0,True,0,Dan,6/1/2020,False
1,hamster,1.3,1,True,0,Dan,6/1/2020,False
2,fish,3.0,0,True,1,Peter,6/1/2021,False
3,cat,NaN,4,False,3,Stevenson,1/1/2020,True
4,ferret,2.0,2,False,4,Fox,6/1/2020,False

---
Animal hospital has been contacted that a customer who has visited, wishes to delete his data from the system.

20. Create a fucntion `delete_customer_data(df_data, customer_name)` such that it deletes all rows where `owner` is `customer_name`. return `df_data` where you remove the data.

In [ ]:
def delete_customer_data(df_data, customer_name):
    index_names = df_data[df_data['owner'] == customer_name ].index
    df_data.drop(index_names, inplace = True)
    return df_data

df_dropped = delete_customer_data(df_final, "Peter")
df_dropped.head()

,animal,age,visits,priority,owner_not_important,owner,registration_time,potential_risk
0,hamster,0.5,0,True,0,Dan,6/1/2020,False
1,hamster,1.3,1,True,0,Dan,6/1/2020,False
3,cat,NaN,4,False,3,Stevenson,1/1/2020,True
4,ferret,2.0,2,False,4,Fox,6/1/2020,False
5,cat,5.0,1,True,5,Martin,6/5/2020,False

---
21. Try searching for `Dan` in `df_dropped`. Is the owner gone?

In [ ]:
df_dropped[df_dropped["owner"] == "Peter"]

Empty DataFrame
Columns: [animal, age, visits, priority, owner_not_important, owner, registration_time, potential_risk]
Index: []

---
Hospital wants to see the final data.

22. Save the `df_dropped` as excel, inside `/work/data/homework 7` folder.

In [ ]:
df_dropped.to_csv("/work/Homework/saved files/homework_7.csv")

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=7d3ce7c8-a514-49e4-9ba4-a5899ac52ea5' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>