In [56]:
import pandas as pd
import datetime as dt

In [4]:
duration = pd.Timedelta(
days = 8,
hours = 7,
minutes = 6,
seconds = 5
)

duration

Timedelta('8 days 07:06:05')

In [9]:
duration = pd.to_timedelta("3 hours, 5 minutes, 12 seconds")
pd.to_timedelta(5,unit="hour")

Timedelta('0 days 05:00:00')

In [11]:
deliveries = pd.read_csv("https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_11_working_with_dates_and_times/deliveries.csv")

In [16]:
for column in ["order_date","delivery_date"]:
    deliveries[column] = pd.to_datetime(deliveries[column])

In [18]:
deliveries["duration"]=(deliveries["delivery_date"] - deliveries["order_date"]).head()

In [20]:
(deliveries["delivery_date"]- deliveries["duration"]).head()

0   1998-05-24
1   1992-04-22
2   1991-02-10
3   1992-07-21
4   1993-09-02
dtype: datetime64[ns]

In [21]:
deliveries.sort_values("duration")

    order_date delivery_date  duration
0   1998-05-24    1999-02-05  257 days
2   1991-02-10    1992-08-26  563 days
4   1993-09-02    1998-06-10 1742 days
3   1992-07-21    1997-11-20 1948 days
1   1992-04-22    1998-03-06 2144 days
..         ...           ...       ...
496 1991-06-24    1996-02-02       NaT
497 1991-09-09    1998-03-30       NaT
498 1990-11-16    1998-04-27       NaT
499 1993-06-03    1993-06-13       NaT
500 1990-01-04    1991-10-03       NaT

[501 rows x 3 columns]

In [27]:
deliveries[deliveries["duration"]>pd.Timedelta(days=365)].head()

  order_date delivery_date  duration
1 1992-04-22    1998-03-06 2144 days
2 1991-02-10    1992-08-26  563 days
3 1992-07-21    1997-11-20 1948 days
4 1993-09-02    1998-06-10 1742 days

In [59]:
citi_bike= pd.read_csv("https://raw.githubusercontent.com/paskhaver/pandas-in-action/master/chapter_11_working_with_dates_and_times/citibike.csv")

In [60]:
for column in ["start_time","stop_time"]:
    citi_bike[column] = pd.to_datetime(citi_bike[column])

In [39]:
citi_bike["start_time"].dt.day_name().value_counts().sort_values(ascending=False)

Tuesday      305833
Sunday       301482
Monday       292690
Saturday     285966
Friday       258479
Wednesday    222647
Thursday     215176
Name: start_time, dtype: int64

In [61]:
days_away_from_monday = citi_bike["start_time"].dt.dayofweek

In [70]:
dates_rounded_to_monday=citi_bike["start_time"] - pd.to_timedelta(days_away_from_monday, unit="day")

In [76]:
nobel= pd.read_json("http://api.nobelprize.org/v1/prize.json")
nobel.loc[2,"prizes"]

{'year': '2021',
 'category': 'literature',
 'laureates': [{'id': '1004',
   'firstname': 'Abdulrazak',
   'surname': 'Gurnah',
   'motivation': '"for his uncompromising and compassionate penetration of the effects of colonialism and the  fate of the refugee in the gulf between cultures and continents"',
   'share': '1'}]}