In [ ]:
import pandas as pd 
# pandas are used for data manipulation, lists and pandas are the only way to manipulate data around.

---
---
---
# Core components, Series and DataFrame
A Series is a column, and a DataFrame is a multi-dimensional table made up of a collection of Series.
![picture](https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png)

---
---
---
# Creating, loading, storing data

---

## Creating DataFrames from Lists

To create a `DataFrame` from lists, we use `pd.DataFrame()` function.

This function will take parameters 
*  `df_1, df_2, df_3` - list we want use as the data source. It has to be in a nested list format - [ [x1, y1], [x2, y2], [x3, y3]  ] into `df` variable

*   `column_names` - names of the columns [ name_x, name_y ]

In [ ]:
row_1 = ["Lemur", 19]
row_2 = ["Kapu", 21]
row_3 = ["Martin", 16]

df = [row_1, row_2, row_3] 
column_names = ['Name', 'Age']

df = pd.DataFrame(data = df, 
                  columns = column_names) 
df

     Name  Age
0   Lemur   19
1    Kapu   21
2  Martin   16

Notice that the approach above, requires a new list for every single data row. This is useful when you are adding new rows to an already existing list, like during a `for loop`.

To append a row to `DataFrame` we need to create a new `DataFrame` with the data we wish to append, and then use `df.append()`

In [ ]:
new_data = ["new data", 13]
new_data = [new_data]

df_to_append = pd.DataFrame(data = new_data, 
                            columns = column_names) 

df = df.append(df_to_append)
df

       Name  Age
0     Lemur   19
1      Kapu   21
2    Martin   16
0  new data   13

If you have a `list` of values, that represent one variable, and you need to to add it to the `DataFrame` as one column, use `list(zip())` function:

In [ ]:
df_1 = [0, 1, 6, 3, 6]
df_2 = [ 7, 2, 1, 7, 6]

df = list(zip(df_1, df_2))

df = pd.DataFrame(data = df, 
                  columns =  ['apples', 'oranges'], 
                  index = ['Lemur', 'Salmon', "Kapu", "Mato", "Rasto"])
df

        apples  oranges
Lemur        0        7
Salmon       1        2
Kapu         6        1
Mato         3        7
Rasto        6        6

If we wish to append a `row` we use the same approach as before.

In [ ]:
new_data = [[4, 4]]
df_to_append = pd.DataFrame(data = new_data, 
                            columns = ['apples', 'oranges'],
                            index = ["apppend_single"]) 

df = df.append(df_to_append)
df

                apples  oranges
Lemur                0        7
Salmon               1        2
Kapu                 6        1
Mato                 3        7
Rasto                6        6
apppend_single       4        4

If you wish to append list with multiple valuies, similarly to before, use `list(zip())` approach to create `DataFrame`, and then use `df.append()` function.

In [ ]:
df_1 = [10, 10, 10]
df_2 = [10, 10, 10]

data_to_append = list(zip(df_1, df_2))
column_names = ['apples', 'oranges']
index_values = ["append_list_zip_1", "append_list_zip_2", "append_list_zip_3"]

df_to_append = pd.DataFrame(data = data_to_append, 
                            columns = column_names, 
                            index = index_values)
df = df.append(df_to_append)
df

                   apples  oranges
Lemur                   0        7
Salmon                  1        2
Kapu                    6        1
Mato                    3        7
Rasto                   6        6
apppend_single          4        4
append_list_zip_1      10       10
append_list_zip_2      10       10
append_list_zip_3      10       10

---

## Reading data from CSV

Read the data a CSV file, and inport it as `DataFrame`, using `pd.read_csv()`

### From CSV file

If the file is saved locally, you can read the file by specifying its location in the hardrive.

To do this in the `Jupyter environemnt`, go to the sidebar on the top left of your screen , locate the file you wish to read. `Right click` and `copy path to clipboard`. The location to the file is now saved, now, `paste` it into the `pd.read_csv()` funtion.

If you want to set a specific column from your dataset as the index, you use `index_col=0` parameter

In [ ]:
path = "/work/data/lesson 2/california_housing_test.csv"
df = pd.read_csv(path)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

#### Link to downloadable CSV file

If you have downloadable link of your data-set, you can use it in the following way.

Note that the link nor the file can be protected by a password, otherwise it will cause problems.

In [ ]:
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
df = pd.read_csv(url)
df

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

#### Manually upload files


Manually by dragging and releasing the file onto the side-bar, when you have `Files` section opened. This way you can eaasily create new folders, and sort it out.

---

## Saving DataFrame to CSV

If you wish to save a `DataFrame` as a CSV, you use `nameofyourdataframe.to_csv()` and inside the function you name it `name.csv`, with the extension you want the result to have `.csv` in the example.

In [ ]:
df.to_csv('/work/data/lesson 2/name_it_like_this.csv')

---
---
---

# Important functionality

---

## Load CSV data from a link

Using `pd.read_csv()` with url link to the download destination of the data-set.

In [ ]:
url = "https://raw.githubusercontent.com/LearnDataSci/articles/master/Python%20Pandas%20Tutorial%20A%20Complete%20Introduction%20for%20Beginners/IMDB-Movie-Data.csv"
df_movies = pd.read_csv(url, index_col="Title")
df_movies.head() # head is first five rows in the dataframe

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

We want the `Title` column to be the `index`, instead of numbers, so that we can easily search for the entries. To do this, use `index_col="Title"` as a parameter in `pd.read_csv()` function:

---

## Viewing data

Using `.head()`, `.tail`, `.sample()`

`.head()` outputs the first five rows of your DataFrame

`.tail()` outputs the last five rows of your DataFrame

`.sample()` outputs the **random** five rows of your DataFrame

All 3 of the above can take a `number as an input`, changing the number of displayed entries from default five to the `specified number`.

In [ ]:
df_movies.head(5)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

First thing when we load a dataset is always viewing a sample of rows to see how does it look. Here we can see the names of each column, the index, and examples of values in each row.

Personally I prefer to use `.sample()` because it yields random entries. Often what happens is that the data-set is neatly ordered by similar rows, meaning when we use `.head()` it will show entries that are very similar. Using `.sample()` gives a better view of the data-set.

In [ ]:
df_movies.sample(5)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Max Steel,788,"Action,Adventure,Family",The adventures of teenager Max McGrath and his...,Stewart Hendler,"Ben Winchell, Josh Brener, Maria Bello, Andy G...",2016,92,4.6,11555,3.77,22.0
Contratiempo,104,"Crime,Mystery,Thriller",A young businessman faces a lawyer trying to p...,Oriol Paulo,"Mario Casas, Ana Wagener, José Coronado, Bárba...",2016,106,7.9,7204,NaN,NaN
Shin Gojira,881,"Action,Adventure,Drama",Japan is plunged into chaos upon the appearanc...,Hideaki Anno,"Hiroki Hasegawa, Yutaka Takenouchi,Satomi Ishi...",2016,120,6.9,8365,1.91,68.0
The House Bunny,304,"Comedy,Romance",After Playboy bunny Shelley is kicked out of t...,Fred Wolf,"Anna Faris, Colin Hanks, Emma Stone, Kat Dennings",2008,97,5.5,67033,48.24,55.0
American Honey,226,Drama,A teenage girl with nothing to lose joins a tr...,Andrea Arnold,"Sasha Lane, Shia LaBeouf, Riley Keough, McCaul...",2016,163,7.0,19660,0.66,79.0

---

## Getting more info about the data

`.info()` should be one of the very first functions you use after loading your data

It shows essential details, such as number of rows and columns, the number of non-null values, and less imporantly what type of data is in each column (this is only imporant to quickly see if numbers were not accidentally imported as strings).

In [ ]:
df_movies.info() # int is whole number, float is decimal number, object is the rest

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

Notice that `Revenue` and `Metascore` have missing values.

Another way to obtain number of rows and columns is `.shape` - without `()`. Just remmber it with `()` and when you run it, it will give you error, and that way you remember () are not supposed to be there.

`.shape` will be used often when making models, and reformating the data.

In [ ]:
df_movies.shape

(1000, 11)

---

## Removing duplicates

It is very imporant to always run this function at the begining to remove any duplicate valuess. Note that some data-sets do contain duplicates as legitimate values, it is important to think if for the current data-set, they have to be removed.

To do this, we use `df.drop_duplicates()` function.

In [ ]:
df_movies = df_movies.drop_duplicates()

Notice that we have say `df_movies = `. This is because using `.drop_duplicates()` creates a copy of the **DataFrame** it is used on. We can either create a new **DataFrame** by calling the variable something else, or we can use the same name to adjust the original.

Alternatively, we can use `inplace=True` parameter, to adjust the original **DataFrame** right away:

In [ ]:
df_movies.drop_duplicates(inplace=True)

---

## Cleaning column names

Often original column names contain symbols, upper and lowercase words, spaces, and typos. To make selecting data by column name easier we clean it up at the begining.

To print **DataFrame**'s columns, use `df.columns`

In [ ]:
df_movies.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

Now we can quickly read all the columns, and copy-paste it if we try to rename change something. It is also useful if you get `Key Error` when trying to select column by its name... which should never happen, because you will learn to clean columns.

Let's rename **Runtime (Minutes)** and **Revenue (Millions)** to something simpler, using `df.rename()` function:

In [ ]:
df_movies.rename(
    columns={
                'Runtime (Minutes)': 'Runtime', 
                'Revenue (Millions)': 'Revenue millions',
            }, 
    inplace=True)
df_movies.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime',
       'Rating', 'Votes', 'Revenue millions', 'Metascore'],
      dtype='object')

Note that we used `inplace = True`, which saves us from using `df_movies = `

Now let's change all letters to a lowercase. The most simplest way is to copy-paste the above obtained list of colum names, and manually change everything to lowercase.

In [ ]:
df_movies.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
                     'rating', 'votes', 'revenue millions', 'metascore']
df_movies.columns

Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue millions', 'metascore'],
      dtype='object')

Alternatively, if there are too many upper-case letters, or too many columns we can use `.lower()` python function.

In [ ]:
df_movies.columns = df_movies.columns.str.replace(" ", "_")
df_movies.columns = df_movies.columns.str.lower()

You should always lowercase, remove special characters, and replace spaces with underscores if you'll be working with a dataset for some time.

---

## Missing values

Also known as non-existent values, often marked as `null` or `None` or `np.nan` or empty space.

3 things can be done:


1.   Remove columns with missing values
2.   Remove rows with missing values
3.   Replace missing values with actual values, technique known as `inputation`

First, let's check the scale of the missing values. Remember we have already use `df.info()` to get some idea, but let's take it a step further by using `df.isnull()`

In [ ]:
df_movies.isnull().sum()

rank                  0
genre                 0
description           0
director              0
actors                0
year                  0
runtime               0
rating                0
votes                 0
revenue_millions    128
metascore            64
dtype: int64

### Removing columns

If the column contains majority of the missing values (depending on the data-set and problem) but let's say `null > 60%`, then you can consider deleting the column.

If the column values have no meaning, or have a singular value, consider removing the column too.

In [ ]:
df_1 = [0, 1, 6, 3, 6]
df_2 = [ 7, 2, 1, 7, 6]

df = list(zip(df_1, df_2))
column_names = ['apples', 'oranges']
index_values = ['Lemur', 'Salmon', "Kapu", "Mato", "Rasto"]

df = pd.DataFrame(data = df, 
                  columns = column_names, 
                  index = index_values)
df

        apples  oranges
Lemur        0        7
Salmon       1        2
Kapu         6        1
Mato         3        7
Rasto        6        6

To drop the column, use `df.drop()` with `column name`  and `axis = 1` parameters:

In [ ]:
df.drop("apples",
        axis=1,
        inplace=True)
## if axis = 0 this is rows, axis = 1 is columns

Notice that `asix = 1`. If you wish to drop a row, you would use `axis = 0`. 

To explain this, if you remmber `.shape` function on `DataFrame`, we get:

In [ ]:
df.shape

(5, 1)

`5` is number of rows, `2` is number of columns.

`(5,2)` - index `0` contains rows, that is why `axis = 0` affect rows.

Likewise, index `1` contains columns, that is why `axis = 1` affects columns.

### Inputation with mean

The most basic inputation technique is by using mean value of the column. 

More advanced approaches would use selected group of entries to create mean - if an entry with a missing value is a horror genre movie, use only that genre for mean inputation (or use director's list of movies, etc...)

Much more advanced techniques would create a predictive model out of the data, and would accurately predict the missing values.

Let's calculate the mean value of the whole column of `revenue_millions`.

In [ ]:
revenue_mean = df_movies['revenue_millions'].mean()
revenue_mean

82.95637614678898

Using the mean value, we will use `df.fillna()` with the value we want to replace missing valus with - `revenue_mean` parameter.

We can use `inplace=True` or we can use `df = df.drop()` approach, they are the same after all.

In [ ]:
df_movies['revenue_millions'] = df_movies['revenue_millions'].fillna(revenue_mean) #, inplace=True

Notice that we used `df_movies['revenue_millions']` not `df_movies`, this is because we only want inpute missing values in the `revenue_millions` column, not the whole data-set. 

Let's check the dataset to see if missing values for `revenue_millions` are gone.

In [ ]:
df_movies.isnull().sum()

rank                 0
genre                0
description          0
director             0
actors               0
year                 0
runtime              0
rating               0
votes                0
revenue_millions     0
metascore           64
dtype: int64

#### automatic

If we wish to replace all the missing values in the dataset, with the means of their respective columns, use `df.fillna()`. Argument inside `.fillna()` will be `df.mean()` since it returns means of all the columns.

In [ ]:
df_movies.fillna(df_movies.mean(), inplace = True)

## Understanding variables

`df.describe()` creates a summary of the distribution of continuous variables:

In [ ]:
df_movies.sample(2)

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore,rating_category
Title,,,,,,,,,,,,
Colossal,15,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,"Anne Hathaway, Jason Sudeikis, Austin Stowell,...",2016,109,6.4,8612,2.87,70.0,bad
Battleship,257,"Action,Adventure,Sci-Fi",A fleet of ships is forced to do battle with a...,Peter Berg,"Alexander Skarsgård, Brooklyn Decker, Liam Nee...",2012,131,5.8,210349,65.17,41.0,bad

In [ ]:
df_movies.describe()

,rank,year,runtime,rating,votes,revenue_millions,metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,96.412043,16.634858
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,17.442500,47.750000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,60.375000,58.985043
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,99.177500,71.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

`df.describe()` can be used on categorical variables too:

In [ ]:
df_movies['description'].describe()

count                                                  1000
unique                                                 1000
top       Caught between a forbidden romance and the exp...
freq                                                      1
Name: description, dtype: object

In [ ]:
df_movies['genre'].value_counts().head(10)

Action,Adventure,Sci-Fi       50
Drama                         48
Comedy,Drama,Romance          35
Comedy                        32
Drama,Romance                 31
Comedy,Drama                  27
Animation,Adventure,Comedy    27
Action,Adventure,Fantasy      27
Comedy,Romance                26
Crime,Drama,Thriller          24
Name: genre, dtype: int64

This tells us that the genre column has `207 unique values`, the `top value` is Action/Adventure/Sci-Fi, which shows up 50 times (freq).

`df.value_counts()` can tell us the frequency of all values in a column:

## Correlation between variables

`df.corr()` generates the relationship between each continuous variable.

When preparing data for the model, it is important to remove highly correlated variables, this is because if correlation is close to 1 or -1, one variable perfectly explains the other, in other words, one is just a simple multiple of the other one, this means one of the variables would not provide any extra information in the model, it would only make it worse because of including more variables. ( we will talk about this in later lectures, and about `curse of dimmensionality`)

Positive numbers indicate a positive correlation — one goes up the other goes up — and negative numbers represent an inverse correlation — one goes up the other goes down. 1.0 indicates a perfect correlation, -1.0 indicates a perfect negative correlation.

In [ ]:
df_movies.corr()

,rank,year,runtime,rating,votes,revenue_millions,metascore
rank,1.000000,-0.261605,-0.221739,-0.219555,-0.283876,-0.252996,-0.185159
year,-0.261605,1.000000,-0.164900,-0.211219,-0.411904,-0.117562,-0.076077
runtime,-0.221739,-0.164900,1.000000,0.392214,0.407062,0.247834,0.202239
rating,-0.219555,-0.211219,0.392214,1.000000,0.511537,0.189527,0.604723
votes,-0.283876,-0.411904,0.407062,0.511537,1.000000,0.607941,0.318116
revenue_millions,-0.252996,-0.117562,0.247834,0.189527,0.607941,1.000000,0.132304
metascore,-0.185159,-0.076077,0.202239,0.604723,0.318116,0.132304,1.000000

Looking in the first row, first column we see `rank` has a perfect correlation with itself, which is obvious. 

On the other hand, the correlation between `votes` and `revenue_millions` is 0.6.

## DataFrame selecting, slicing, extracting

Similar to `lists`, this section shows how to select (`slice`) rows, columns, and ranges from both.

### By column

In [ ]:
genre_col = df_movies['genre']

print("type", type(genre_col))
genre_col

type <class 'pandas.core.series.Series'>

Title
Guardians of the Galaxy     Action,Adventure,Sci-Fi
Prometheus                 Adventure,Mystery,Sci-Fi
Split                               Horror,Thriller
Sing                        Animation,Comedy,Family
Suicide Squad              Action,Adventure,Fantasy
                                     ...
Secret in Their Eyes            Crime,Drama,Mystery
Hostel: Part II                              Horror
Step Up 2: The Streets          Drama,Music,Romance
Search Party                       Adventure,Comedy
Nine Lives                    Comedy,Family,Fantasy
Name: genre, Length: 1000, dtype: object

In [ ]:
genre_col = df_movies[['genre']]

print("type", type(genre_col))

type <class 'pandas.core.frame.DataFrame'>

If we want to select more columns, just add them to the list.

In [ ]:
subset = df_movies[['genre', 'rating']]

subset.head()

                                            genre  rating
Title
Guardians of the Galaxy   Action,Adventure,Sci-Fi     8.1
Prometheus               Adventure,Mystery,Sci-Fi     7.0
Split                             Horror,Thriller     7.3
Sing                      Animation,Comedy,Family     7.2
Suicide Squad            Action,Adventure,Fantasy     6.2

If you with to select (locate) columns `by index`, we use `df.iloc[what_rows, what_columns]`.

Now, we use classical `list` selecting. 

* To select all rows, `what_rows` will be `:`. 

*If we want to select all columns until 5th one, we use `:5`

In [ ]:
df_movies.iloc[1:4]

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore,rating_category
Title,,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,bad
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,bad
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,bad

### By rows

If you want to locate the row entry by index, use `df.iloc[what_row]`. Notice that unlike locating columns by index, we will only use one parameter

In [ ]:
prom = df_movies.iloc[0]
prom

rank                                                                1
genre                                         Action,Adventure,Sci-Fi
description         A group of intergalactic criminals are forced ...
director                                                   James Gunn
actors              Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
year                                                             2014
runtime                                                           121
rating                                                            8.1
votes                                                          757074
revenue_millions                                               333.13
metascore                                                        76.0
rating_category                                                  good
Name: Guardians of the Galaxy, dtype: object

### Conditional selection

In [ ]:
df_movies.head()

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore,rating_category
Title,,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,good
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,bad
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,bad
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,bad
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,bad

In [ ]:
df_movies['director'] == "Ridley Scott"

In [ ]:
df_movies[df_movies['director'] == "Ridley Scott"]

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore,rating_category
Title,,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,bad
The Martian,103,"Adventure,Drama,Sci-Fi",An astronaut becomes stranded on Mars after hi...,Ridley Scott,"Matt Damon, Jessica Chastain, Kristen Wiig, Ka...",2015,144,8.0,556097,228.43,80.0,good
Robin Hood,388,"Action,Adventure,Drama","In 12th century England, Robin and his band of...",Ridley Scott,"Russell Crowe, Cate Blanchett, Matthew Macfady...",2010,140,6.7,221117,105.22,53.0,bad
American Gangster,471,"Biography,Crime,Drama","In 1970s America, a detective works to bring d...",Ridley Scott,"Denzel Washington, Russell Crowe, Chiwetel Eji...",2007,157,7.8,337835,130.13,76.0,bad
Exodus: Gods and Kings,517,"Action,Adventure,Drama",The defiant leader Moses rises up against the ...,Ridley Scott,"Christian Bale, Joel Edgerton, Ben Kingsley, S...",2014,150,6.0,137299,65.01,52.0,bad
The Counselor,522,"Crime,Drama,Thriller",A lawyer finds himself in over his head when h...,Ridley Scott,"Michael Fassbender, Penélope Cruz, Cameron Dia...",2013,117,5.3,84927,16.97,48.0,bad
A Good Year,531,"Comedy,Drama,Romance",A British investment broker inherits his uncle...,Ridley Scott,"Russell Crowe, Abbie Cornish, Albert Finney, M...",2006,117,6.9,74674,7.46,47.0,bad
Body of Lies,738,"Action,Drama,Romance",A CIA agent on the ground in Jordan hunts down...,Ridley Scott,"Leonardo DiCaprio, Russell Crowe, Mark Strong,...",2008,128,7.1,182305,39.38,57.0,bad

In [ ]:
df_movies[df_movies['rating'] >= 8.6]

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore,rating_category
Title,,,,,,,,,,,,
Interstellar,37,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.000000,good
The Dark Knight,55,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.000000,good
Inception,81,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.000000,good
Kimi no na wa,97,"Animation,Drama,Fantasy",Two strangers find themselves linked in a biza...,Makoto Shinkai,"Ryûnosuke Kamiki, Mone Kamishiraishi, Ryô Nari...",2016,106,8.6,34110,4.68,79.000000,good
Dangal,118,"Action,Biography,Drama",Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",2016,161,8.8,48969,11.15,58.985043,good
The Intouchables,250,"Biography,Comedy,Drama",After he becomes a quadriplegic from a paragli...,Olivier Nakache,"François Cluzet, Omar Sy, Anne Le Ny, Audrey F...",2011,112,8.6,557965,13.18,57.000000,good

Conditional operators in pands use `|` for "or" and `&` for "and".

In [ ]:
df_movies[(df_movies['director'] == 'Christopher Nolan') | (df_movies['director'] == 'Ridley Scott')].head()

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore,rating_category
Title,,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,bad
Interstellar,37,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0,good
The Dark Knight,55,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0,good
The Prestige,65,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,913152,53.08,66.0,good
Inception,81,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0,good

In [ ]:
list_of_directors = ['Christopher Nolan', 'Ridley Scott']
df_movies[df_movies['director'].isin(list_of_directors)].head()

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore,rating_category
Title,,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,bad
Interstellar,37,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0,good
The Dark Knight,55,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0,good
The Prestige,65,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,913152,53.08,66.0,good
Inception,81,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0,good

In [ ]:
df_movies[
    ((df_movies['year'] >= 2005) & (df_movies['year'] <= 2010))
    & (df_movies['rating'] > 8.0)
    & (df_movies['revenue_millions'] < df_movies['revenue_millions'].quantile(0.25))
]

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore,rating_category
Title,,,,,,,,,,,,
3 Idiots,431,"Comedy,Drama",Two friends are searching for their long lost ...,Rajkumar Hirani,"Aamir Khan, Madhavan, Mona Singh, Sharman Joshi",2009,170,8.4,238789,6.52,67.0,good
The Lives of Others,477,"Drama,Thriller","In 1984 East Berlin, an agent of the secret po...",Florian Henckel von Donnersmarck,"Ulrich Mühe, Martina Gedeck,Sebastian Koch, Ul...",2006,137,8.5,278103,11.28,89.0,good
Incendies,714,"Drama,Mystery,War",Twins journey to the Middle East to discover t...,Denis Villeneuve,"Lubna Azabal, Mélissa Désormeaux-Poulin, Maxim...",2010,131,8.2,92863,6.86,80.0,good
Taare Zameen Par,992,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0,good

## Applying functions

In [ ]:
def rating_function(row):
    if row >= 8.0:
        return "good"
    else:
        return "bad"

In [ ]:
df_movies["my_rating_category"] = df_movies["rating"].apply(rating_function)

# movies_df["rating_category"] = movies_df["rating"].apply(lambda x: 'good' if x >= 8.0 else 'bad')

df_movies.head(2)

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore,rating_category,my_rating_category
Title,,,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,good,good
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,bad,bad

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=7d3ce7c8-a514-49e4-9ba4-a5899ac52ea5' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>